In [1]:
from sqlalchemy.engine import URL
from sqlalchemy import create_engine
import pandas as pd

connection_string = "DRIVER={SQL Server};SERVER=NYAKUTKA;DATABASE=brewery;Truster_Connections=yes"
connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})
engine = create_engine(connection_url)

# Views:

#### 1) Вывод каталога товаров, его количества на складе, и цены со скидкой (сложный: таблицы products, stock)

```sql
create view ProductsStockView as
	select product_name,
		product_type,
		cost_price,
		retail_price,
		discount_price, 
		amount 
	from products
		join stock on products.product_id=stock.product_id
GO
```

In [2]:
tableResult = pd.read_sql("SELECT * FROM ProductsStockView", engine)
tableResult

,product_name,product_type,cost_price,retail_price,discount_price,amount
0,Балтика 7,Пиво,67.0,92.46,83.21,1
1,Балтика 8,Пиво,68.0,93.84,93.84,2
2,Балтика 9,Пиво,69.0,95.22,76.18,3
3,Strongbow яблоко,Сидр,57.0,78.66,78.66,4
4,Strongbow груша,Сидр,58.0,80.04,56.03,5

#### 2) Вывод всех заказов и их содержимого (сложный: таблицы orders, order_details, customers)

```sql
create view OrdersOrderDetailsCustomersView as
select orders.order_id,
	   customer_name,
	   order_date,
	   orders.order_status,
	   products.product_id,
	   product_name,
	   discount_price,
	   amount,
	   total_cost
		from orders 
			join order_details on orders.order_id=order_details.order_id 
			join products on order_details.product_id=products.product_id
			join customers on orders.customer_id=customers.customer_id
go
```

In [3]:
tableResult = pd.read_sql("SELECT * FROM OrdersOrderDetailsCustomersView", engine)
tableResult

,order_id,customer_name,order_date,order_status,product_id,product_name,discount_price,amount,total_cost
0,1,Красное&Белое,2022-05-23 14:25:10,pending,1,Балтика 7,83.21,1,575.61
1,1,Красное&Белое,2022-05-23 14:25:10,pending,2,Балтика 8,93.84,2,575.61
2,1,Красное&Белое,2022-05-23 14:25:10,pending,3,Балтика 9,76.18,4,575.61
3,2,Красное&Белое,2004-05-23 14:25:10,processing,2,Балтика 8,93.84,2,730.86
4,2,Красное&Белое,2004-05-23 14:25:10,processing,3,Балтика 9,76.18,3,730.86
5,2,Красное&Белое,2004-05-23 14:25:10,processing,4,Strongbow яблоко,78.66,4,730.86
6,3,РосАл,2004-05-23 14:25:10,pending,1,Балтика 7,83.21,5,1265.34
7,3,РосАл,2004-05-23 14:25:10,pending,3,Балтика 9,76.18,6,1265.34
8,3,РосАл,2004-05-23 14:25:10,pending,5,Strongbow груша,56.03,7,1265.34
9,4,РосАл,2004-05-23 14:25:10,completed,2,Балтика 8,93.84,2,1121.68
10,4,РосАл,2004-05-23 14:25:10,completed,3,Балтика 9,76.18,4,1121.68
11,4,РосАл,2004-05-23 14:25:10,completed,4,Strongbow яблоко,78.66,8,1121.68
12,5,РосАл,2004-05-23 14:25:10,cancelled,1,Балтика 7,83.21,6,3114.18
13,5,РосАл,2004-05-23 14:25:10,cancelled,3,Балтика 9,76.18,24,3114.18
14,5,РосАл,2004-05-23 14:25:10,cancelled,4,Strongbow яблоко,78.66,10,3114.18

# Процедуры (все запросы)

## Вывод

### 1) Вывод базы товаров для сотрудника завода с количеством товара на складе и себестоимости продукта(сложный)

In [4]:
tableResult = pd.read_sql("exec ShowProductsBase", engine)
tableResult

ProgrammingError: (pyodbc.ProgrammingError) ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]Не удалось найти хранимую процедуру "ShowProductsBase". (2812) (SQLExecDirectW)')
[SQL: exec ShowProductsBase]
(Background on this error at: https://sqlalche.me/e/14/f405)

### 2) Вывод каталога товаров для заказчика

### 3) Получить информацию о недостающих товарах на складе для существующих заказов(сложный)

### 4) Вывод информации обо всех заказах(сложный)

### 5) Вывод информации о своих заказах для заказчика

### 6) Вывод информации о своих заказах для заказчика по статусу заказа

### 7) Вывод содержимого заказа(сложный)

### 8) Вывод информации о заказчиках

### 9) Вывод значения прибыли завода за все время(сложный)

### 10) Вывод значения прибыли завода от конкретного заказчика (сложный)

### 11) Вывод информации о недостающих товарах на складе для существующих заказов (сложный)

### 12) Вывод информации о недостающих товарах на складе для существующих заказов для конкретного заказчика (сложный)

### 13) Вывод информации о сотрудниках завода(сложный)